<% include partials/header%>
<div id="about" class="container-fluid p-0">
  <div id="overlay"></div>        
  <div class="row bgimg m-0" id="about-image">
                <div class="col-12 h-auto">
                    <i class="fas fa-user-md"></i>
                    <h3 class="mb-5">About Us</h3>
                </div>
                <div class="col-md-3">
                    <div class="about-list">
                            <i class="fas fa-laptop-medical"></i>
                            <h4>Lastest Equipments</h5>
                            <p>We make sure that we use the latest equipments to serve the best quality possible for our patients</p>
                    </div>
                    <div class="about-list">
                            <i class="far fa-clock"></i>
                            <h4>Accurate Appointments</h5>
                            <p>Our policy is to organize appointments in a way that makes our patients feel more comfortable</p>
                    </div>
                </div>
                <div class="col-md-3">
                        <div class="about-list">
                                <i class="fas fa-users"></i>
                                <h4>Qualified Staff</h5>
                                <p>We have the confidence to claim that our staff is highly qualified and talanted to serve a high quality results</p>
                        </div>
                        <div class="about-list">
                                <i class="far fa-clock"></i>
                                <h4>Guaranteed Results</h5>
                                <p>We do our best to reach the most satisfying results for our patients cause we believe that this is the first step to success</p>
                        </div>
                </div>
                <div class="col-md-6">
                    <img src="images/boss.jpg" alt="" class="about-list img-fluid">
                </div>           
  </div>
</div>
<% include partials/footer%>