<% include partials/header%>
<div class="container-fluid p-0">
    <div id="veneers-img" class="position-relative row bgimg m-0">
        <div id="overlay"></div>
    </div>
    <div class="position-relative row" style="z-index:9">
        <div id="root-canal" class="col-md-8 offset-md-2 p-5">
         <h1 class="font-weight-bold mb-3">What are dental crowns?</h1>
         <p>A dental crown is a tooth-shaped "cap" that is placed over a tooth to cover the tooth to restore its shape and size, strength, and improve its appearance.
            
            The crowns, when cemented into place, fully encase the entire visible portion of a tooth that lies at and above the gum line.
            
            </p>
         <div class="row mb-3">
             <div class="col-md-8 offset-md-2">
                <img src="/images/crown.jpg" alt="" class="img-fluid">
             </div>
         </div>
         <h1 class="font-weight-bold mb-3">Why Is a Dental Crown Needed?</h1>
         <ul>
             <li>To protect a weak tooth (for instance, from decay) from breaking or to hold together parts of a cracked tooth</li>
             <li>To restore an already broken tooth or a tooth that has been severely worn down</li>
             <li>To cover and support a tooth with a large filling when there isn't a lot of tooth left</li>
             <li>To hold a dental bridge in place</li>
             <li>To cover misshapened or severely discolored teeth</li>
             <li>To cover a dental implant</li>
             <li>To make a cosmetic modification</li>
         </ul>       
        </div>
    </div>
</div>
<% include partials/footer%>