<% include partials/header%>

<div id="register" class="continer-fluid">
        <div id="signup">
            <form action="/login/email" method="POST">
                <div class="form-group">
                    <input type="email" name="email" placeholder="Email" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
                <p class="mt-2">check your email for resetting your password</p>
            </form>
        </div>
    </div>

<% include partials/footer%>