<% include partials/header%>
<div class="container-fluid p-0">
    <div class="position-relative row bgimg m-0" id="service">
        <div id="overlay"></div>
    </div>
    <div class="position-relative row" style="z-index:9">
        <div id="root-canal" class="col-md-8 offset-md-2 p-5">
            <h1 class="font-weight-bold mb-3">What is Root Canal Treatment?</h1>
            <p>Root canal treatment is designed to eliminate bacteria from the infected root canal, prevent reinfection of the tooth and save the natural tooth. When one
                undergoes a root canal, the inflamed or infected pulp is removed and the
                inside of the tooth is carefully cleaned and disinfected, then filled and sealed.</p>
            <img src="/images/tooth1.jpg" alt="">
            <h1 class="font-weight-bold my-3">Signs and symptoms you need a root canal treatment?</h1>
            <ul>
                <li>Spontaneous pain even when you’re not eating or drinking</li>
                <li>Pain that wakes you up in the middle of the night</li>
                <li>Toothache that worsens when pressure is applied or when eating</li>
                <li>Darkening or discoloration of a tooth</li>
                <li>Recurring swelling of the gums</li>
                <li>Tenderness in the gums</li>
                <li>Extreme sensitivity to cold or heat</li>
            </ul>          
        </div>
    </div>
</div>
<% include partials/footer%>