<% include partials/header%>
<div class="container-fluid p-0">
    <div id="veneers-img" class="position-relative row bgimg m-0">
        <div id="overlay"></div>
    </div>
    <div class="position-relative row" style="z-index:9">
        <div id="root-canal" class="col-md-8 offset-md-2 p-5">
         <h1 class="font-weight-bold mb-3">What are dental implants?</h1>
         <p>A dental implant is an artificial tooth root that is placed into your jaw to hold a replacement tooth or bridge. Dental implants may be an option for people who have lost a tooth or teeth due to periodontal disease, an injury, or some other reason.</p>
         <div class="row mb-3">
             <div class="col-md-8 offset-md-2">
                <img src="/images/implant.jpg" alt="" class="img-fluid">
             </div>
         </div>
         <h1 class="font-weight-bold mb-3">What are the contraindications?</h1>
         <ul>
             <li>Any systematic condition that impairs wound healing</li>
             <li>Smokers have an increased risk of implant failure</li>
             <li>Patients receiving bisphosphonates</li>
             <li>Patients who have undergone head and neck radio-therapy</li>
         </ul>       
        </div>
    </div>
</div>
<% include partials/footer%>