<% include partials/header%>
<div class="container-fluid p-0">
    <div id="veneers-img" class="position-relative row bgimg m-0">
        <div id="overlay"></div>
    </div>
    <div class="position-relative row" style="z-index:9">
        <div id="root-canal" class="col-md-8 offset-md-2 p-5">
         <h1 class="font-weight-bold mb-3">What is Paedodontics?</h1>
         <p>Paedodontics is the branch of dentistry that specialises in the care and management of children's teeth. Also known as paediatric dentistry, it treats patients from birth until adolescence.</p>
         <div class="row mb-3">
             <div class="col-md-8 offset-md-2">
                <img src="/images/pedo.png" alt="" class="img-fluid">
             </div>
         </div>
         <!-- <h1 class="font-weight-bold mb-3">Why orthodontics is used?</h1>
         <ul>
             <li>correction of dental crowding and straightening of your teeth</li>
             <li>correction of your bite so the front and back teeth meet evenly</li>
             <li>reducing the chance of damage to prominent teeth</li>
             <li>improving your appearance, including your smile</li>
         </ul>        -->
        </div>
    </div>
</div>
<% include partials/footer%>