<% include partials/header%>
  <div class="container-fluid p-0">
      <div id="overlay"></div>
      <div class="row bgimg m-0" id="team-image"></div>
  </div>
  <div id="team" class="container">
      <div class="row mb-4">
          <div class="person col-md-5">
              <img src="images/team1.jpg" alt="" class="img-fluid">
          </div>
          <div class="person col-md-7">
              <h5 class="my-4">Founder and General Dentist</h5>
              <h3 class="mb-4 font-weight-bold">Dr. Jennifer Plotnick</h3>
              <p class="mb-4">Dr Jennifer Plotnick- a native New Yorker, has been in private practice for more than ten years, serving the greater Brooklyn area. She has an extensive following that includes moms and dads, toddlers and grandparents, New York’s revered artists, musicians, architects, actors, olympic athletes and more. Always an artist at heart, Dr. Plotnick found the perfect balance of medicine and design when she founded Grand Street Dental in 2016 -she practices with a discerning eye for detail and ambition for patient satisfaction.</p>
              <button type="button" class="btn btn-primary">Learn more</button>
          </div>
      </div>
        <hr>
      <div class="row mb-4">
            <div class="person col-md-5 order-md-2">
                <img src="images/team2.jpg" alt="" class="img-fluid">
            </div>
            <div class="person col-md-7 order-md-1">
                <h5 class="my-4">Associate Dentist</h5>
                <h3 class="mb-4 font-weight-bold">Dr. Kristine Hassan</h3>
                <p class="mb-4">Dr Jennifer Plotnick- a native New Yorker, has been in private practice for more than ten years, serving the greater Brooklyn area. She has an extensive following that includes moms and dads, toddlers and grandparents, New York’s revered artists, musicians, architects, actors, olympic athletes and more. Always an artist at heart, Dr. Plotnick found the perfect balance of medicine and design when she founded Grand Street Dental in 2016 -she practices with a discerning eye for detail and ambition for patient satisfaction.</p>
                <button type="button" class="btn btn-primary">Learn more</button>
            </div>
        </div>
        <hr>
        <div class="row">
                <div class="person col-md-5">
                    <img src="images/team3.jpg" alt="" class="img-fluid">
                </div>
                <div class="person col-md-7">
                    <h5 class="my-4">Oral Surgeon</h5>
                    <h3 class="mb-4 font-weight-bold">Dr. Stephanie Dadoun</h3>
                    <p class="mb-4">Dr Jennifer Plotnick- a native New Yorker, has been in private practice for more than ten years, serving the greater Brooklyn area. She has an extensive following that includes moms and dads, toddlers and grandparents, New York’s revered artists, musicians, architects, actors, olympic athletes and more. Always an artist at heart, Dr. Plotnick found the perfect balance of medicine and design when she founded Grand Street Dental in 2016 -she practices with a discerning eye for detail and ambition for patient satisfaction.</p>
                    <button type="button" class="btn btn-primary">Learn more</button>
                </div>
            </div>
        
  </div>
<% include partials/footer%>