<% include partials/header%>

<div id="register" class="continer-fluid">
        <div id="signup">
            <form action="/unsubscribe" method="POST">
                <p>Type your email to unsubscribe</p>                
                <div class="form-group">
                    <input type="email" name="email" placeholder="Email" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-danger">Unsubscribe</button>
            </form>
        </div>
    </div>

<% include partials/footer%>